[submodule ".vim/pack/vendor/start/vimtex"]
	path = .vim/pack/vendor/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule ".vim/pack/vendor/start/ultisnips"]
	path = .vim/pack/vendor/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/pack/vendor/start/vim-airline"]
	path = .vim/pack/vendor/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/vendor/start/vim-easycomplete"]
	path = .vim/pack/vendor/start/vim-easycomplete
	url = https://github.com/jayli/vim-easycomplete
