[submodule ".vim/pack/vendor/start/vimtex"]
	path = .vim/pack/vendor/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule ".vim/pack/vendor/start/ultisnips"]
	path = .vim/pack/vendor/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/pack/vendor/start/lightline"]
	path = .vim/pack/vendor/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/pack/vendor/start/rosepine"]
	path = .vim/pack/vendor/start/rosepine
	url = https://github.com/rose-pine/vim.git
[submodule ".vim/pack/YouCompleteMe/opt/YouCompleteMe"]
	path = .vim/pack/YouCompleteMe/opt/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
